<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
.STYLE2 {color: #FF0000; font-size: large; }
-->
</style>


                  <div class="clockWrap">
                    <div class="container clearfix">
                      <div class="pull-left" id="userRank">
                        <span class="glyphicon glyphicon-user">
                        </span>
                        级别 : {$userData['levelname']}
                      </div>
                      <div class="clock-location">
                        <strong class="mr5">
                          服务器时间
                        </strong>
                        <span id="server_time_text">
                           <php> echo date('Y-m-d H:i:s');</php>
                        </span>
                      </div>
                      <div class="clock-location">
                        <strong class="mr5">
                          您当地时间
                        </strong>
                        <span id="local_time_text">
                         
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="clockWrap">
                    <div class="container clearfix">
                      <div class="pull-left" id="userRank">
                        当日盈利：互助盈利[{$hzsum|default=0}] 推荐奖盈利[{$tjsum|default=0}]领导奖盈利[{$jlsum|default=0}]
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="innerContent">
                      <div id="donationWrap">
                        <div class="row">
                          <div class="col-sm-6">
                            <a class="btn btn-block " id="pdBtn">
                              <span class="p-donation">
                                提供帮助
                              </span>
                            </a>
                          </div>
                          <div class="col-sm-6">
                            <a class="btn btn-block " id="gdBtn">
                              <span class="g-donation">
                                得到帮助
                              </span>
                            </a>
                          </div>


                        </div>
                      
                        <div class="row">
                          <div class="col-md-12" id="pdWrap" style=" display:none;">
                            <div class="widget widget-body-white">
                              <form method="post" action="/Home/Index/tgbzcl" name="buy_share_form"
                              class="form-horizontal margin-none" id="provide_help">
                                <div class="widget-head widget-head-blue">
                                  <h4 class="heading">
                                    提供帮助
                                  </h4>
                                </div>
                                <div class="widget-body">
                                  <div class="form-group">
                                    <p style=" color:#FF0000; text-align:center; font-size:14px; " >
                                      申请完成后，请等待系统分配受善需求
                                    </p>
                                    <label class="col-md-3 control-label">
                                      支付方式
                                    </label>
                                    <div class="col-md-9">
                                      <label>
                                        <input type="checkbox" value="1" class="ckbox" name="zffs1" checked="">
                                        银行支付
                                      </label>
                                      <label>
                                        <input type="checkbox" value="1" class="ckbox" name="zffs2" checked="">
                                        支付宝支付
                                      </label>
                                      <label>
                                        <input type="checkbox" value="1" class="ckbox" name="zffs3" checked="">
                                        微信支付
                                      </label>
                                      
                                    </div>
                                  </div>
								                <if condition="C('ispdb')">
              								   <div class="form-group">
                                      <label class="col-md-3 control-label">输入排单币</label>
                                      <div class="col-md-9">
                                          <input type="text"  style="height:32px; width:250px;" placeholder="输入排单币" name="pin" value="{$code|default='没有可用排单币，请联系平台客服购买'}" >
                                      </div>
                                  </div>
                                </if>
                                  <div class="form-group">
                                    <label class="col-md-3 control-label">
                                      提供帮助金额
                                    </label>
                                    <div class="col-md-9">
                                  <?php 
                                    $tgxz = explode(",",C('tgxz'));
                                    foreach($tgxz as $k=>$v):
                                   ?>
                                  <label><input type="radio" value="{$v}" name="amount" required>{$v}</label>
                                 <!-- <input type="text" class="form-control get_amount amount" placeholder="输入{:C('jj01s')}-{:C('jj01m')}并且是{:C('jj01')}的倍数" name="amount" id="amount" autocomplete="off" required > -->
                                 <?php endforeach; ?>

                                      <p class="help-block" id="pdtips">
                                        警告，我已完全了解所有风险。我决定参与2016人均财富。                                      </p>
                                    </div>
                                  </div>
                                </div>
                                <footer class="data-footer innerAll half text-right clearfix">
                                  <!-- <button type="button" class="btn btn-default" data-dismiss="modal">
                                    取消
                                  </button> -->
                                  <!-- <button type="button" class="btn_next btn-warning btn-sm" data-dismiss="modal"
                                  data-toggle="modal" data-target="#myModal2">提供帮助</button>-->
                                  <input name="jhwjjc" id="jhwjjc" type="submit" class="btn_next btn-warning btn-sm btn btn-primary "
                                  value="提供帮助">
                                </footer>
                              </form>
                            </div>
                          </div>
                          <div class="col-md-12" id="gdWrap" style=" display:none;">
                            <div class="widget widget-body-white">
                              <script>
                                $(function(){
                                  var ht = '您最低出售数量 {:C('txthemin')}RMB - {:C('txthemax')}RMB';
                                  var ht2 = '输入RMB{$txthemin}起,至{$txthemax},且为{$txthebeishu}的倍数';
                                  $("input[name='qb']").click(function(){
                                    var val = $(this).val();
                                    if(val=='jsbzcl'){
                                      ht = '您最低出售数量 {:C('txthemin')}RMB - {:C('txthemax')}RMB';
                                      ht2 = '输入RMB{$txthemin}起,至{$txthemax},且为{$txthebeishu}的倍数';
                                    }else if(val=='jsbzcl1'){
                                      ht = '您最低出售数量 {:C('jl_start')}RMB - {:C('jl_e')}RMB';
                                      ht2 = '输入RMB{:C('jl_start')}起,至{:C('jl_e')},且为{:C('jl_beishu')}的倍数';
                                    }else if(val=='jsbzcl2'){
                                      ht = '您最低出售数量 {:C('tj_start')}RMB - {:C('tj_e')}RMB';
                                      ht2 = '输入RMB{:C('tj_start')}起,至{:C('tj_e')},且为{:C('tj_beishu')}的倍数';
                                    }
                                    $("#get_help").attr('action','/Home/Index/'+val);
                                    $("#txtips").html(ht);
                                    $("#txtips2").attr('placeholder',ht2);
                                  });
                                });
                              </script>
                              <form action="/Home/Index/jsbzcl" method="post" name="wallet_transfer_form" class="form-horizontal margin-none" id="get_help">
                                <input type="hidden" value="" id="wallet_type" name="wallet_type">
                                <fieldset>
                                  <div class="widget-head widget-head-blue"  >
                                    <h4 class="heading">
                                      接受帮助
                                    </h4>
                                  </div>
                                  <div class="widget-body">
                                    <div class="form-group">
                                      <label class="col-md-3 control-label">
                                        支付方式
                                      </label>
                                      <div class="col-md-9">
                                        <label>
                                          <input type="checkbox" value="1" class="ckbox2" name="zffs1" checked="">
                                          银行支付
                                        </label>
                                        <label>
                                          <input type="checkbox" value="1" class="ckbox2" name="zffs2" checked="">
                                          支付宝支付
                                        </label>
                                        <label>
                                          <input type="checkbox" value="1" class="ckbox2" name="zffs3" checked="">
                                          微信支付
                                        </label>                                        
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="col-md-3 control-label">
                                        选择钱包
                                      </label>
                                      <div class="col-md-9">
                                        <label>
                                          <input type="radio" value="jsbzcl" class="ckbox2" name="qb" checked>
                                          总钱包：{$userData['ue_money']}RMB
                                        </label>
                                        <label>
                                          <input type="radio" value="jsbzcl1" class="ckbox2" name="qb" >
                                          经理奖钱包：{$userData['jl_he']}RMB
                                        </label>
                                        <label>
                                          <input type="radio" value="jsbzcl2" class="ckbox2" name="qb" >
                                          推荐奖钱包：{$userData['tj_he']}RMB
                                        </label>                              
                                      </div>
                                    </div>
                                    <div class="form-group" style=" display:none;">
                                      <label class="col-md-3 control-label">
                                        接受帮助总额:
                                        <span class="ast">
                                          *
                                        </span>
                                      </label>
                                      <div class="col-md-9">
                                        <input type="text" class="form-control get_amount" placeholder="输入RMB{$txthemin}起,至{$txthemax},且为{$txthebeishu}的倍数" name="get_amount" autocomplete="off" required id="txtips2">
                                        <p class="help-block" id="txtips">
                                          您最低出售数量 {:C('txthemin')}RMB - {:C('txthemax')}
                                        </p>
                                        <p class="help-block">
                                          警告，我已完全了解所有风险。我决定参与2016人均财富。                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="data-footer innerAll half text-right clearfix">
                                    <button value="继续" id="withdraw_btn" type="submit" class="btn btn-primary btn-sm">
                                      接受帮助
                                    </button>
                                  </div>
                                </fieldset>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>